/* add your styles here */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.column{
    float :left;
    width: 50%;
    height: 50%;
}
img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin-top: 16px;
    border: 2px black solid;
}